/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* prevents scrolling */
    background-color: #070410;
}

header nav {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
  background-color:#231651;
  margin-bottom:20px;
}

h1 {
  font-size: 100px;
  font-family: "Teko", sans-serif;
  color: white;
  margin-right: auto; /* h1 to the left */
}

.title{
  font-weight: bold; /*makes the movie title bold */
  font-size: 2em;
  font-family: "Teko", sans-serif;
}

.genre {
  font-family: "Lato", sans-serif;
  margin: 0 10px; /* spaces between the genre links */
  color: white;
  text-decoration: none;
}

.search {
  padding: 8px 16px;
  font-size: 2em;
  cursor: pointer;
  background-color:#eef36a;
  border: 1px solid black;
  border-radius: 15px;
  font-family: "Teko", sans-serif;
}


.content {
    color: rgb(0, 0, 0);
    width: 100%;
    padding-top: 0;
    background-color:#070410;
    max-width: 900px;
}

p {
    font-family: "Lato", sans-serif;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    font-sizE: 1.5em;


}

.watch {
    background-color:#eef36a;
    border: 1px solid black;
    border-radius: 10px;
    padding: 6px;
    font-family: "Teko", sans-serif;
    display: block;
    margin: 0 auto; /* center the button */
    margin-bottom: 20px;
    font-size: 2em;
    width: 100%;
}

.posters {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.posters img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0;
    padding: 0;
}

.posters p {
    margin: 10px 0 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.barbie{
  border: 2px solid black;
  background-color: #231651;
  color: white;
}

.hidden_figures{
  border: 2px solid black;
  background-color: #231651;
  color: white;
}

.hook{
  border: 2px solid black;
  background-color: #231651;
  color: white;
}
.lalaland{
  border: 2px solid black;
  background-color: #231651;
  color: white;
}
.palm_springs{
  border: 2px solid black;
  background-color: #231651;
  color: white;
}
.roger_rabbit{
  border: 2px solid black;
  background-color: #231651;
  color: white;
}
/* media query for mobile */
@media (min-width: 360px) and (max-width: 720px) {
    
    h1 {
        font-size: 80px;
        color: white;
        margin-left:30px;
    }

    .genre {
        display: none;
    }

    .search {
      margin-right:30px;
      padding: 1px 10px;
      font-size: 50px;
      cursor: pointer;
      border-radius: 25px;
    }

    .watch{
      width: 90%;
      padding: 30px;
    }

    .posters {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        margin-top: 0; /* removes the gap at the top */
    }

  body{
    background-color: #4DCCBD;
  }

  .genre {
    display: none;
  }

  .search {
    margin-right: 30px;
    padding: 1px 10px;
    font-size: 50px;
    cursor: pointer;
    border-radius: 25px;
  }

  .posters {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin-top: 0; /* removes the gap at the top */
  }

  .barbie,
  .hidden_figures,
  .hook,
  .lalaland,
  .palm_springs,
  .roger_rabbit {
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: #231651;
    color: white;
  }
}

@media (min-width: 720px) and (max-width: 1024px) {
  header nav {
    display: flex;
    justify-content: center; /* center the items */
    align-items: center;
  }

  .genre {
    font-family: "Lato", sans-serif;
    margin: 0 10px; /* spaces for the genre links */
    color: white;
    text-decoration: none;
  }

  h1 {
    margin-left: 32px; /* h1 aligned on the left */
  }

  .search {
    margin-right: 32px; /* button aligned on the right */
    font-size: 2em;
  }

  /* apply the grid layout for content */
  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* creates two columns */
    grid-template-rows: repeat(2, auto); 
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #070410;
  }

  .barbie,
  .hidden_figures,
  .hook,
  .lalaland,
  .palm_springs,
  .roger_rabbit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    background-color: #231651;
    color: white;
    padding: 10px;
    border-radius: 1px; 
    box-shadow: 10px 10px 5px rgba(77, 300, 400, 0.5); /* horizontal, vertical, lur radius, color */
  }

  .watch{
    margin-top: auto;
  }
  p{
    margin-bottom: 30px;
  }
  
  }

   
  .posters {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }

  .posters img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }


  @media (min-width: 1024px) {

    /* header adjustments */
    header nav {
      display: grid;
      grid-template-columns: 1fr auto 1fr; /* Three columns */
      align-items: center;
      position: relative;
    }
    
    h1 {
      justify-self: start;
      margin-left: 16px;
    }
    
    .genre-container {
      display: flex;
      gap: 48px;
      justify-content: center;
      grid-column: 2;
    }
    
    .search {
      position: absolute;
      right: 24px;
      margin-top: -25px;
    }
    
  
    /* main content grid */
    .content {
      display: grid;
      grid-template-columns: 1fr 1fr; /* create two columns */
      gap: 20px;
      background-color: #070410;
      grid-template-areas: 
          "card1 card1"
          "card2 card3"
          "card4 card4"
          "card5 card5"
          "card6 card6"; /* creating a grid area to show specific places */
      max-width: 1000px;
      margin: 0 auto;
    }
  
    /* individual card layout for barbie */
    .barbie {
      grid-area: card1;
      display: grid;
      grid-template-rows: auto 1fr auto; 
      grid-template-columns: 1fr 1fr; 
      gap: 10px;
      background-color: #231651;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 10px 10px 5px rgba(77, 300, 400, 0.5);
    }
  
    .barbie .posters {
      grid-column: 1 / -1; /* span both columns */
      width: 100%;
      height: auto;
      object-fit: cover;
      margin-bottom: 10px;
    }
  
    .barbie p {
      grid-row: 2;
      grid-column: 1 / 2; /* the button i s placed at the bottom left */
      margin-left: 20px;
      align-self: start;
    }
  
    .barbie .watch {
      grid-row: 2;
      grid-column: 2; /* the button will be at the bottom right */
      justify-self: end;
      background-color: #eef36a;
      padding: 10px 24px; /* makes the button longer */
      margin-top: 20px;
      border-radius: 5px;
      width:280px;
      font-size: 2em;
      cursor: pointer;
    }
  
    /* styles for hidden_figures and hook */
    .hidden_figures {
      grid-area: card2;
      background-color: #231651;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 10px 10px 5px rgba(77, 300, 400, 0.5);
    }
  
    .hook {
      grid-area: card3;
      background-color: #231651;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 10px 10px 5px rgba(77, 300, 400, 0.5);
    }
  
    /* styles for lalaland, palm_springs, and roger_rabbit */
    .lalaland, .palm_springs, .roger_rabbit {
      display: grid;
      grid-template-columns: 1fr 1fr; /* two columns for the grid */
      gap: 10px;
      background-color: #231651;
      padding: 20px;
      box-shadow: 10px 10px 5px rgba(77, 300, 400, 0.5);
      align-items: start;
      max-height:500px;
    }
  
    .lalaland .posters, .palm_springs .posters, .roger_rabbit .posters {
      grid-column: 1; /* place in first column */
      width: 100%;
      max-height: 500px;
      object-fit: cover;
    }
  
    .lalaland p, .palm_springs p, .roger_rabbit p {
      grid-column: 2; /* place in second column */
      margin-top:50px;
    }
  
    .lalaland .watch, .palm_springs .watch, .roger_rabbit .watch {
      grid-column: 2; /* this places it in the second column*/
      background-color: #eef36a;
      padding: 10px 24px;
      font-size: 2em;
      cursor: pointer;
      margin-bottom:90px;
      align-self: start;
      width: 280px;
    }
  
    .barbie { grid-area: card1; }
    .hidden_figures { grid-area: card2; }
    .hook { grid-area: card3; }
    .lalaland { grid-area: card4; }
    .palm_springs { grid-area: card5; }
    .roger_rabbit { grid-area: card6; }
  }  
